.tituloinvitados{
    @extend .tituloubicacion ;
    padding: 20px;
    margin-bottom: 0px;
}

.formulario{
    background-image: url(./imagenes/form.jpg);
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 2%;
}
