@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Euphoria+Script&family=Roboto:wght@300;400;700&display=swap');

.header{
    background-color: #386641;
    width: 100%; 
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
    font-family: 'Euphoria Script';
    font-weight: 400;
}

.navbar{
    background-color: #e9f5db;
}

.text{
    margin-bottom: 0px;
    background-image: url(../imagenes/weddings-3225110_1280.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10%;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 60px;
    font-family: 'Enriqueta', 'serif';
}

.donde{
    background-color: #a4b75c;
    padding: 2%;
    text-align: center;
}
.cuando{
    background-color: #a4b75c;
    padding: 2%;
    text-align: center;
}
.como{
    background-color: #a4b75c;
    padding: 2%;
    text-align: center;
}
.footer {
    background-color: #386641;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7%;
    padding-right: 0;
    text-align: left;
}
.footer2 {
    background-color: #386641;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-right: 7%;
    padding-left: 0;
}
/*fin pagina inicio*/
@import "ubicacion";
@import "invitados";
@import "informacion";
@import "contacto";

